*.swo
*.pyc
*.pyo
*.swp
freetype-*
build/*
dist/*
src/SDL/Xcode-iPhoneOS/SDL/build/
src/SDL/Xcode-iOS/SDL/build/
tmp/*
kivy/*
libtremor/*
libogg/*
app-*
.cache
src/ios/build/
src/ios/iosbuild/
src/ios/ios.c
*.DS_Store*
*-ios/
__pycache__
.tox
venv
*.egg-info
artifacts/*
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/kivy-ios.iml
.idea/misc.xml
.idea/dk-kivy-ios.iml
.idea/*
