recursive-include kivy_ios *.py
recursive-include kivy_ios/recipes *.py *.patch *.diff *.rst ModulesSetup ModulesSetup.mobile *.m *.h *.pyx *.so *.template *.cfg
recursive-include kivy_ios/tools *.py biglink liblink cpplink
recursive-include kivy_ios/tools/templates *

prune .git
