name: kivy-ios

on: [push, pull_request]

jobs:
  flake8:
    name: Flake8 tests
    runs-on: macos-latest
    steps:
    - name: Checkout kivy-ios
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.x'
    - name: Run flake8
      run: |
        python -m pip install --upgrade pip
        pip install tox>=2.0
        tox -e pep8

  build_python3_kivy:
    runs-on: macos-latest
    steps:
    - name: Checkout kivy-ios
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.x'
    - name: Install requirements
      run: |
        pip3 install -r requirements.txt
        brew install autoconf automake libtool pkg-config
        brew link libtool
        pip3 install Cython==0.29.17
        gem install xcpretty
    - name: Build Python & Kivy
      run: |
        python toolchain.py build python3 kivy
    - name: Checkout kivy for tests apps
      uses: actions/checkout@v2
      with:
        repository: kivy/kivy
        path: kivy-ci-clone
    - name: Create & Build test project
      run: |
        .ci/test_project.sh

  build_python3_kivy_venv:
    runs-on: macos-latest
    steps:
    - name: Checkout kivy-ios
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.x'
    - name: Install requirements
      run: |
        python -m venv venv
        . venv/bin/activate
        pip install -r requirements.txt
        pip install sh
        brew install autoconf automake libtool pkg-config
        brew link libtool
        pip install Cython==0.29.17
    - name: Build Python & Kivy
      run: |
        . venv/bin/activate
        python toolchain.py build python3 kivy
    - name: Checkout kivy for tests apps
      uses: actions/checkout@v2
      with:
        repository: kivy/kivy
        path: kivy-ci-clone
    - name: Create & Build test project
      run: |
        . venv/bin/activate
        .ci/test_project.sh

  build_updated_recipes:
    needs: flake8
    runs-on: macos-latest
    steps:
    - name: Checkout kivy-ios
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.x'
    - name: Install requirements
      run: |
        pip3 install -r requirements.txt
        brew install autoconf automake libtool pkg-config
        brew link libtool
        pip3 install Cython==0.29.17
    - name: Build updated recipes
      run: |
        python3 .ci/rebuild_updated_recipes.py
