name: setup

on: [push, pull_request]

jobs:
  checks:
    runs-on: macos-latest
    steps:
    - name: Checkout kivy-ios
      uses: actions/checkout@v4
    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        pip install --upgrade setuptools wheel twine
    - name: sdist bdist_wheel
      run: |
        python setup.py sdist bdist_wheel
    - name: Twine check
      run: |
        twine check dist/*
    - name: Local install
      run: |
        python -m venv venv
        . venv/bin/activate
        pip install dist/kivy-ios-*.tar.gz
        pip install Cython==0.29.36
        brew install autoconf automake libtool pkg-config
    - name: Basic toolchain commands
      run: |
        . venv/bin/activate
        toolchain --help
        toolchain recipes
